
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}


header {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}


main {
    padding: 20px;
}


section {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}


#mathResults, #practicalResults {
    margin-top: 20px;
    color: #4CAF50;
}
